<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
	  <unicorn>
		  <configurations>
			  <configuration name="Project.Fanadesh" description="Fanadesh definition items">
				  <targetDataStore physicalRootPath="$(sourceFolder)\Project\Fanadesh\serialization" useDataCache="false"
								   type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true">
				  </targetDataStore>
				  <predicate>
					  <include name="templates" database="master" path="/sitecore/templates/Project/Fanadesh" />					  
					  <include name="layouts" database="master" path="/sitecore/layout/Layouts/Project/Fanadesh" />					  
					  <include name="content" database="master" path="/sitecore/content/Fanadesh" />
					  <include name="media" database="master" path="/sitecore/media library/Project/Fanadesh" />
				  </predicate>
			  </configuration>			  			  
		  </configurations>
	  </unicorn>
  </sitecore>
</configuration>