<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
	  <unicorn>
		  <configurations>
			  <configuration name="Feature.Admission" description="Admission definition items">
				  <targetDataStore physicalRootPath="$(sourceFolder)\Feature\Admission\serialization" useDataCache="false"
								   type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true">
				  </targetDataStore>
				  <predicate>
					  <include name="templates" database="master" path="/sitecore/templates/Feature/Admission" />					  
					  <include name="renderings" database="master" path="/sitecore/layout/Renderings/Feature/Admission" />					  					  
				  </predicate>
			  </configuration>			  			  
		  </configurations>
	  </unicorn>
  </sitecore>
</configuration>